
.title-speech {
    color: white;
    font-family: "RobotoSlab";
    font-size: 72px;
    /* border: 1px solid white; */
}

.title-script {
    color: white;
    font-family: "RobotoSlabBold";
    font-size: 72px;
    /* border: 1px solid white; */
}
.flex-column {
    display: flex;
    flex-flow: column wrap;
    gap: 3rem;
    /* border: 1px solid white; */
}

.logo {
    margin: 75px auto auto auto;
    /* border: 1px solid white; */

}

.title {
    margin: auto;
    text-align: center;
    /* border: 1px solid white; */

}

.desc-text {
    color: white;
    margin: auto;
    font-family: "RobotoLight";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 335px;
    /* border: 1px solid white; */
}

.desc-text-bold {
    font-family: "RobotoBold";
    /* border: 1px solid white; */
}

.desc {
    margin: auto;
    color: #FFC5C5;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: "RobotoSlabExtraBold";
    font-size: 36px;
    /* border: 1px solid white; */
}

.tech-desc{
    text-align: center;
    width: 400px;
    padding-top: 50px;
    margin-top: 10px;
    /* border: 1px solid white; */
}

.insp-desc {
    text-align: center;
    width: 400px;
    /* border: 1px solid white; */
}

.insp-desc-text{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    margin: auto;
    font-family: "RobotoLight";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 335px;
    /* border: 1px solid white; */

}

.team-desc-title {
    text-align: center;
    width: 400px;
    padding-top: 50px;
    margin-top: 10px;
    /* border: 1px solid white; */
}

.tech-desc {
    padding:0;
    margin:0;
}


/* 
    ANIMATION STUFF BELOW
*/

@import url(https://fonts.googleapis.com/css?family=Cabin);
 p {
	 margin-top: 50px;
	 font-family: "Cabin", sans-serif;
     font-size: 18px;
	 letter-spacing: 6px;
	 text-indent: 6px;
	 color: #fff;
	 animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}
 .mouse {
	 background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
     padding-top: 20px;
     margin: auto;
	 position: relative;
	 width: 11px;
	 height: 100px;
	 border-radius: 100px;
	 background-size: 100% 200%;
	 animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}

 @keyframes colorSlide {
	 0% {
		 background-position: 0% 100%;
	}
	 20% {
		 background-position: 0% 0%;
	}
	 21% {
		 background-color: #4e5559;
	}
	 29.99% {
		 background-color: #fff;
		 background-position: 0% 0%;
	}
	 30% {
		 background-color: #4e5559;
		 background-position: 0% 100%;
	}
	 50% {
		 background-position: 0% 0%;
	}
	 51% {
		 background-color: #4e5559;
	}
	 59% {
		 background-color: #fff;
		 background-position: 0% 0%;
	}
	 60% {
		 background-color: #4e5559;
		 background-position: 0% 100%;
	}
	 80% {
		 background-position: 0% 0%;
	}
	 81% {
		 background-color: #4e5559;
	}
	 90%, 100% {
		 background-color: #fff;
	}
}
 @keyframes trackBallSlide {
	 0% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 6% {
		 opacity: 1;
		 transform: scale(0.9) translateY(5px);
	}
	 14% {
		 opacity: 0;
		 transform: scale(0.4) translateY(40px);
	}
	 15%, 19% {
		 opacity: 0;
		 transform: scale(0.4) translateY(-20px);
	}
	 28%, 29.99% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 30% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 36% {
		 opacity: 1;
		 transform: scale(0.9) translateY(5px);
	}
	 44% {
		 opacity: 0;
		 transform: scale(0.4) translateY(40px);
	}
	 45%, 49% {
		 opacity: 0;
		 transform: scale(0.4) translateY(-20px);
	}
	 58%, 59.99% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 60% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 66% {
		 opacity: 1;
		 transform: scale(0.9) translateY(5px);
	}
	 74% {
		 opacity: 0;
		 transform: scale(0.4) translateY(40px);
	}
	 75%, 79% {
		 opacity: 0;
		 transform: scale(0.4) translateY(-20px);
	}
	 88%, 100% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
}
 @keyframes nudgeMouse {
	 0% {
		 transform: translateY(0);
	}
	 20% {
		 transform: translateY(8px);
	}
	 30% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(8px);
	}
	 60% {
		 transform: translateY(0);
	}
	 80% {
		 transform: translateY(8px);
	}
	 90% {
		 transform: translateY(0);
	}
}
 @keyframes nudgeText {
	 0% {
		 transform: translateY(0);
	}
	 20% {
		 transform: translateY(2px);
	}
	 30% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(2px);
	}
	 60% {
		 transform: translateY(0);
	}
	 80% {
		 transform: translateY(2px);
	}
	 90% {
		 transform: translateY(0);
	}
}
 @keyframes colorText {
	 21% {
		 color: #4e5559;
	}
	 30% {
		 color: #fff;
	}
	 51% {
		 color: #4e5559;
	}
	 60% {
		 color: #fff;
	}
	 81% {
		 color: #4e5559;
	}
	 90% {
		 color: #fff;
	}
}
 